/*-- scss:rules --*/
/* custom classes */
.no-title h1 {
  display: none;
}

.relative {
  position: relative;
}

.red {
  color: #ff2c2d;
}

.green {
  color: green;
}

.blue {
  color: #1b91ff;
}

.gray {
  color: #999;
}

/* theme overrides */
.reveal .slide-logo {
  max-height: 2.8rem !important;
}

.reveal .slides section {
  justify-content: flex-start;
  /* top align content */
}


/* daggity overrides */
.dagitty svg {
  rect {
    fill: transparent
  }

  text {
    font-size: 40%
  }

}


/* shinylive slides */
.sourceCode[data-engine="r"] {
  border: none !important;
  // margin: -1em;
}

.shinylive-wrapper {
  width: 1605px;
  height: 1050px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border: none !important;
}